name: Publish Post from Discord
on:
  repository_dispatch:
    types: [publish_post] # 봇이 보낸 event_type과 일치해야 함

concurrency: 
  group: publish-to-repo-b  # 같은 그룹 이름을 가진 액션들은 줄을 서게 됨
  cancel-in-progress: false # 이미 실행 중인 게 있다면 취소하지 않고 기다렸다가 실행

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Script Repo
        uses: actions/checkout@v4

      - name: Checkout Target Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/resources
          token: ${{ secrets.KCMD_RESOURCES_REPO_TOKEN }}
          path: target_repo

      - name: Create Post File using Python Script
        env:
          POST_CONTENT: ${{ github.event.client_payload.content }}
          POST_ID: ${{ github.event.client_payload.id }}
        run: |
          cd target_repo
          python3 ../write_post.py

      - name: Force Push to Target Repo
        run: |
          cd target_repo
          git config --global user.name "DiscordBot"
          git config --global user.email "bot@example.com"
          
          # .git 초기화로 히스토리 말소
          rm -rf .git
          git init
          git checkout -b main
          git add .
          git commit -m "Published from Discord: $(date)"
          
          # resources의 URL로 강제 푸시
          git remote add origin https://x-access-token:${{ secrets.KCMD_RESOURCES_REPO_TOKEN }}@github.com/${{ github.repository_owner }}/resources.git
          git push --force origin main
